@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    background-color: #F2F5F9;
}

.card-container {
    /* border: 1px solid slateblue; */
    width: 40%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-container>img {
    width: 100%;
    border-radius: 10px;
    clip-path: polygon(55% 0, 101% 0, 100% 55%, 101% 100%, 80% 84%, 27% 100%, 0 95%, 0% 43%, 0 0)
}

.card-container h3 {
    padding: 20px;
    font-weight: 700;
    font-size: 32px;
    color: #111729;
}

.card-container>p {
    padding: 0 20PX 20PX 20PX;
    font-weight: 300;
    font-size: 16px;
    color: #677489;
}

hr {
    width: 90%;
    margin: 0 auto;
    color: #677489;
    opacity: 20%;
}

.card-footer {
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-footer img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.card-footer h4 {
    font-size: 24px;
    font-weight: 700;
    color: #111729;
}

.card-footer p {
    font-size: 16px;
    font-weight: 400;
    color: #677489;
}

/* -------responsive design------- */
@media screen and (max-width:576px) {
    .card-container {
        width: 80%;
    }
}